@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loading {
  margin-left: 24px;
  margin-right: 24px;
}

.error {
  margin-left: 24px;
  margin-right: 24px;
  color: var(--failColor);
}

.tabContent {
  display: none;
}

.tabContentVisible {
  display: block;
}

.footer {
  display: none;

  @media (--viewportLarge) {
    display: block;
  }
}
.selectListing {
  margin-bottom: 1rem;
}

.selectListingHeading {
  margin: 0 0 12px 0;
  color: var(--matterColorAnti);

  padding-top: 4px;
  padding-bottom: 2px;

  @media (--viewportMedium) {
    margin: 16px 0 0 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
