@import '../../styles/propertySets.css';

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

/* Shared animation rules */
.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

.root {
  @apply --backgroundImage;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 24px 0 24px;

  @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
  }

  /* Special viewport for adjusting the heroContent's placement */

  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
  }

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
    max-width: calc(1052px + 36px + 36px);
    width: 100%;
    padding: 0 36px 0 36px;
  }
}

.heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;
  font-size: 50px;
  white-space: nowrap;
  word-break: keep-all;
  color: var(--matterColorLight);
  text-align: center;
  composes: animation;
  animation-delay: 0.5s;
  margin-bottom: 2rem;
  & > span {
    display: block;
    transform: rotate(90deg);
    margin-top: 1rem;
    @media (--viewportMedium) {
      display: inline-flex;
      transform: none;
    }
  }
  font-size: 9.2vw;

  @media (--viewportMedium) {
    font-size: 4vw;
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
  @media (--viewportLarge) {
    font-size: 50px;
  }
}
.heroMainTitle > span {
  padding: 0 1.2rem;
}
.heroSubTitle {
  @apply --marketplaceH2FontStyles;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--matterColorLight);
  margin: 0 0 32px 0;

  composes: animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 0 47px 0;
  }
}

.heroButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.heroButton {
  @apply --marketplaceButtonStyles;
  margin: 0.2rem;
  padding-right: 2px;
  padding-left: 2px;

  composes: animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
}
