@import '../../styles/propertySets.css';

:root {
  --gutter: 20px;
}

.root {
  display: flex;
  flex-flow: column wrap;
  padding: 0 20px;

  @media (--viewportMedium) {
    padding: 0 157px;
  }
}

.listingCards {
  max-width: 100%;
  @apply --marketplaceCardGridContainer;

  @media (--viewportMedium) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
  }
}

.listingCard {
  @apply --marketplaceDefaultListingCard;
}

.title {
  @apply --marketplaceH1FontStyles;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 1rem;
}

.reversedTitle {
  margin-left: auto;
}

.sliderWrapper {
  max-height: 400px;
  width: 100%;
  min-width: 0;
}

.reversedListingCard {
  align-items: flex-end;
}

.recommendationLink {
  @apply --marketplaceH4FontStyles;
  text-decoration: none;
}

.recoLink {
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
