{:format :v3,
 :transitions
 [


   {:name :transition/host-approved-by-renter,
   :actor :actor.role/customer,
   :actions [
     {:name :action/update-protected-data}
     ],
   :to :state/rental-agreement-discussion}

   {:name :transition/host-fee-paid,
   :actor :actor.role/customer,
   :actions [
     {:name :action/update-protected-data}
     ],
   :to :state/host-enquired}

  {:name :transition/renter-declines-communication,
   :actor :actor.role/provider,
   :actions [],
   :from :state/host-enquired,
   :to :state/renter-declined-communication}

  {:name :transition/renter-accepts-communication,
   :actor :actor.role/provider,
   :actions [
      {:name :action/update-protected-data}
      ],
    :from :state/host-enquired,
   :to :state/reversed-transaction-flow}


   {:name :transition/renter-fee-paid,
   :actor :actor.role/customer,
   :actions [
      {:name :action/update-protected-data}
    ],
   :to :state/renter-enquired}

  {:name :transition/host-declines-communication,
   :actor :actor.role/provider,
   :actions [],
   :from :state/renter-enquired,
   :to :state/host-declined-communication}

  {:name :transition/host-accepts-communication,
   :actor :actor.role/provider,
   :actions [
      {:name :action/update-protected-data}
    ],
   :from :state/renter-enquired,
   :to :state/rental-agreement-discussion}


  {:name :transition/host-cancels-during-rad,
   :actor :actor.role/provider,
   :actions [],
   :from :state/rental-agreement-discussion,
   :to :state/cancelled-during-rad}

  {:name :transition/renter-cancels-during-rad,
   :actor :actor.role/customer,
   :actions [],
   :from :state/rental-agreement-discussion,
   :to :state/cancelled-during-rad}

  {:name :transition/operator-cancels-during-rad,
   :actor :actor.role/operator,
   :actions [],
   :from :state/rental-agreement-discussion,
   :to :state/cancelled-during-rad}


  {:name :transition/host-sends-agreement,
   :actor :actor.role/provider,
    :actions
   [
     {:name :action/create-booking,
     :config {:observe-availability? false}}
    {:name :action/privileged-set-line-items}
    {:name :action/privileged-update-metadata}
    {:name :action/update-protected-data}

    ],
   :from :state/rental-agreement-discussion,
   :to :state/rental-agreement-sent
   :privileged? true}

  {:name :transition/renter-requests-agreement,
   :actor :actor.role/customer,
    :actions
   [
    ],
   :from :state/rental-agreement-discussion,
   :to :state/rental-agreement-requested}

  {:name :transition/host-sends-agreement-after-request,
   :actor :actor.role/provider,
    :actions
   [
     {:name :action/create-booking,
     :config {:observe-availability? false}}
    {:name :action/privileged-set-line-items}
    {:name :action/privileged-update-metadata}
    {:name :action/update-protected-data}

    ],
   :from :state/rental-agreement-requested,
   :to :state/rental-agreement-sent
   :privileged? true}

  {:name :transition/renter-cancels-after-request,
   :actor :actor.role/customer,
    :actions
   [
    {:name :action/update-protected-data}
    ],
   :from :state/rental-agreement-requested,
   :to :state/cancelled-during-rad}


  {:name :transition/host-cancels-after-request,
   :actor :actor.role/provider,
    :actions
   [
    {:name :action/update-protected-data}

    ],
   :from :state/rental-agreement-requested,
   :to :state/cancelled-during-rad}

  {:name :transition/operator-cancels-after-request,
   :actor :actor.role/operator,
    :actions
   [
    {:name :action/update-protected-data}

    ],
   :from :state/rental-agreement-requested,
   :to :state/cancelled-during-rad}






  {:name :transition/renter-signs-rental-agreement,
   :actor :actor.role/operator,
   :actions [
    {:name :action/update-protected-data}
    {:name :action/privileged-update-metadata}
   ],
   :from :state/rental-agreement-sent,
   :to :state/rental-agreement-finalized
   :privileged? true }

  {:name :transition/host-cancels-after-agreement-sent,
   :actor :actor.role/provider,
   :actions [],
   :from :state/rental-agreement-sent,
   :to :state/cancelled-after-agreement-sent}

  {:name :transition/renter-cancels-after-agreement-sent,
   :actor :actor.role/customer,
   :actions [],
   :from :state/rental-agreement-sent,
   :to :state/cancelled-after-agreement-sent}

  {:name :transition/operator-cancels-after-agreement-sent,
   :actor :actor.role/operator,
   :actions [],
   :from :state/rental-agreement-sent,
   :to :state/cancelled-after-agreement-sent}

  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :actions [
        {:name :action/privileged-update-metadata}
    {:name :action/update-protected-data}
    {:name :action/stripe-create-payment-intent}

   ],
   :from :state/rental-agreement-finalized,
   :to :state/pending-payment
   :privileged? true }



  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [
     {:name :action/stripe-confirm-payment-intent}
      {:name :action/stripe-capture-payment-intent}
     {:name :action/stripe-create-payout}
   ],
   :from :state/pending-payment,
   :to :state/preauthorized}

  {:name :transition/customer-update-transaction-after-payment,
   :actor :actor.role/customer,
   :actions [
        {:name :action/privileged-update-metadata}
   ],
   :from :state/preauthorized,
   :to :state/preauthorized
   :privileged? true }


 {:name :transition/provider-update-transaction-after-payment,
   :actor :actor.role/provider,
   :actions [
        {:name :action/privileged-update-metadata}
   ],
   :from :state/preauthorized,
   :to :state/preauthorized
   :privileged? true }


 {:name :transition/operator-update-transaction-after-payment,
   :actor :actor.role/operator,
   :actions [
        {:name :action/privileged-update-metadata}
   ],
   :from :state/preauthorized,
   :to :state/preauthorized
   :privileged? true }


  {:name :transition/complete,
   :actor :actor.role/provider,
   :actions [
   ],
   :from :state/preauthorized,
   :to :state/delivered}


   ],


 :notifications
 [

{:name :notification/fee-paid,
   :on :transition/host-fee-paid,
   :to :actor.role/customer,
   :template :fee-paid}





   {:name :notification/new-booking-request,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :new-booking-request}


  {:name :notification/money-paid,
   :on :transition/complete,
   :to :actor.role/provider,
   :template :money-paid}
 ]}
