.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutWrapperMain {
  /* Use all available space parent element (aka root) can give and don't shrink content */
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 100px;
  /* Expand to the full remaining width of the viewport */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 250px;
}
