@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  @media (--viewportMedium) {
  }
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: block;
  /* flex-wrap: wrap; */

  /* background-image: url(""); */
  width: 100%;

  @media (--viewportMedium) {
    /* flex-wrap: nowrap; */
  }
}

.contentHeader {
  background-color: rgb(234, 179, 61);
  /* background-image: url("./about-us-1056.jpg"); */
  padding-bottom: 50px;
  padding-top: 20px;
}

.slider {
  max-width: 1000px;
  margin: auto;
}

#featured {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.spaceSection {
  margin-top: 70px;
  text-align: center;
  width: 700px;
  margin-left: 450px;
}

.spaceSection h1 {
  font-size: 35px;
}

.million {
  width: 300px;
  height: 330px;
  background-color: rgb(194, 94, 23);
  border-radius: 30px;
  margin-left: 200px;
}

.million .number {
  color: white;
  font-size: 300px;
  padding-top: 150px;
}

.million .content {
  color: white;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 10px;
  height: 100px;
  /* display: inline-block; */
}

.contentSpan {
  color: white;
  font-size: 20px;
  padding-left: 180px;
  margin-top: -5px;
}

.founders {
  margin-top: 150px;
  height: 1200px;
  background-color: rgb(36, 33, 33);
  /* background-color: white; */
  padding-top: 150px;
  display: flex;
  flex-direction: row;
}

.founders_image {
  width: 700px;
  height: 900px;
  margin-left: -10px;
  /* background-color: red; */
  background-image: url('about-us-1056.jpg');
  background-repeat: repeat-y;
  background-position: 50% 50%;
  border-radius: 20px;
}

.founders span {
  color: white;
  padding-left: 60px;
}

.founders_content {
  padding: 50px;
}

.founders_content > * {
  color: white;
}

.founders_content h1 {
  font-size: 30px;
}

.founder {
  display: flex;
}

.founder img {
  width: 250px;
  margin-top: -300px;
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentSearch {
  /* width: 100%; */
  /* width: 3000px; */
  /* background-color: yellowgreen; */
  /* margin: 0 auto; */
  /* margin-left: 400px; */
  margin: 100px 350px 0 350px;
  text-align: center;
}

.contentSearch p {
  padding-top: 30px;
}

.contentButton {
  /* background-color: yellow; */
  margin: 0 auto 50px;

  @media (--viewportMedium) {
    max-width: 700px;
  }
}

.rentBtn {
  display: inline-block;
  margin: 0 35px 0 20px;
}

.findBtn {
  display: inline-block;
  /* margin: 0 0 0 10px; */
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}
