@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  @media (--viewportMedium) {
  }
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: block;
  /* flex-wrap: wrap; */

  /* background-image: url(""); */
  width: 100%;

  @media (--viewportMedium) {
    /* flex-wrap: nowrap; */
  }
}

.contentHeader {
  background-color: #f3ddbc;
  padding-bottom: 50px;
  padding-top: 20px;
}

.slider {
  max-width: 1200px;
  margin: auto;
}

#featured {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.spaceSection {
  text-align: center;
  width: 1055px;
  margin: 101px auto 0;
}

.spaceSection__header h1 {
  color: #c35827;
}

.spaceSection__header p {
  font-size: 22px;
  font-family: 'Montserrat';
  color: #222222;
}

.spaceSection__content h2 {
  color: #222222;
  font-size: 30px;
}

.spaceSection h1 {
  font-size: 35px;
}

.million {
  width: 213px;
  height: 211px;
  background-color: rgb(194, 94, 23);
  border-radius: 30px;
  margin: auto;
}

.million .number {
  color: white;
  font-size: 170px;
  padding-top: 65px;
}

.million .content {
  color: white;
  font-size: 40px;
  padding-top: 60px;
  height: 100px;
}

.contentSpan {
  color: white;
  font-size: 20px;
  padding-left: 169px;
  margin-top: -47px;
}

.founders {
  margin-top: 200px;
  height: 1155px;
  background-color: rgb(36, 33, 33);
  /* background-color: white; */
  padding-top: 150px;
  display: flex;
  flex-direction: row;
}

.founders_head span {
  font-family: 'Montserrat';
  font-size: 17px;
}

.founders_image {
  width: 828px;
  height: 849px;
  background-image: url('about-us-1056.jpg');
  background-repeat: repeat-y;
  background-position: 50% 50%;
  border-radius: 0 20px 20px 0;
}

.founders span {
  color: white;
  padding-left: 60px;
}

.founders_content {
  padding: 50px;
}

.founders_content > * {
  color: white;
}

.founders_content h1 {
  font-size: 30px;
}

.founders_content p {
  font-family: 'Montserrat';
  font-size: 17px;
}

.founder {
  display: flex;
  width: 940px;
}

.founderContent {
  width: 629px;
}

.founder img {
  width: 250px;
  margin-top: -275px;
  margin-left: 60px;
}

.founders_content h1 {
  font-size: 40px;
}

.founders_content h3 {
  font-size: 25px;
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentSearch {
  margin: 100px auto 0;
  text-align: center;
  max-width: 992px;
}

.contentSearch h1 {
  font-family: 'Dia Bold', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
}

.contentSearch p {
  padding-top: 58px;
  padding-bottom: 23px;
}

.contentButton {
  margin: 0 auto 81px;

  @media (--viewportMedium) {
    max-width: 700px;
  }
}

.rentBtn {
  display: inline-block;
  margin: 0 35px 0 20px;
}

.findBtn {
  display: inline-block;
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}
