@import '../../styles/propertySets.css';
.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
}

.category {
  composes: formMargins;
}

.idealUses{

}
.useText {
  @apply --marketplaceSmallFontStyles;
  composes: formMargins;

}
.moreInfoText {
  margin-top: auto;
  @apply --marketplaceSmallFontStyles;
}
.submitButton {
  margin-bottom: 24px;
  flex-shrink: 0;
  margin-top: 10px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
}
