@import '../../styles/customMediaQueries.css';

.heading {
  margin: 5px 0 18px 0;

  @media (--viewportMedium) {
    margin: 8px 0 24px 0;
  }
}

.content {
  @media (--viewportLarge) {
    /* padding-top: 70px; */
    max-width: 1000px;
  }
}
